{% extends 'Mywebsite/header.html' %}

{% block content %}
<br>
<h1>จัดการข่าวสาร</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">วันที่</th>
      <th scope="col">แก้ไข</th>
      <th scope="col">ลบข้อมูล</th>
    </tr>
  </thead>
  <tbody>
    {% for data in news %}
    <tr>
      <th scope="row">{{data.id}}</th>
      <td>{{data.news_title}}.</td>
      <td>{{data.news_date}}</td>
      <td>
        <form action="{% url 'contentedit' %}" method="get">
          <input type="hidden" value="{{data.id}}" name="id">
          <button type="submit" class="btn btn-primary">แก้ไข</button>
        </form>
      <td><button typbue="submit" class="btn btn-danger" data-toggle="modal"
          data-target="#exampleModal{{data.id}}">Delete</button></td>
      </td>
    </tr>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal{{data.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <form action=" {% url 'contentdelete' %} " method="POST">
          {% csrf_token %}
          <input type="hidden" value="{{data.id}}" name="id">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ยืนยันการลบข้อมูล {{data.news_title}} หรือไม่ ?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Delete</button>
            </div>
        </form>
      </div>
    </div>
    </div>
    {% endfor %}
  </tbody>
</table>


{% endblock %}